.table-wrapper {
    width: 100%;
    margin: 20px auto;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .sort-dropdown {
    margin-bottom: 20px;
  }
  
  .sort-dropdown label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .sort-dropdown select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Responsive Table */
  @media screen and (max-width: 768px) {
    .styled-table {
      display: block;
      overflow-x: auto;
    }
  
    .styled-table th, .styled-table td {
      padding: 10px 15px;
      text-align: center;
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    border: 1px solid #009879;
    background-color: #fff;
    color: #009879;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  
  .pagination select {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  